<p>Total time spent is <strong>{{formatTimeEntryDuration(totalDuration)}}</strong></p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Memo</th>
            <th scope="col">Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let timeEntry of timeEntries; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{timeEntry.memo}}</td>
            <td>{{formatTimeEntryDuration(timeEntry.duration)}}</td>
        </tr>
        <tr *ngIf="!timeEntries || timeEntries.length === 0">
            <td class="text-center" colspan="3">This project does not have time entries.</td>
        </tr>
    </tbody>
</table>